{% extends "panel/base.html" %}

{% block title %}修改密码{% endblock %}

{% block content_title %}修改密码{% endblock %}

{% block panel_title %}修改密码{% endblock %}

{% block content %}
{% if form.errors %}
<p class="text-danger">请修正下面的错误.</p>
{% endif %}

<p>原始密码不会存储到数据库. 存到数据库的数据是通过特殊算法, 加盐哈希, 迭代数万次, 因此没有办法看到用户的密码, 请您放心使用.</p>

<p>请输入你的旧密码, 为了安全起见, 接着要输入两遍新密码, 以便我们校验你输入的是否正确.</p>

<form method="post" action="" role="form">
    {% csrf_token %}
    <div class="form-group">
        {{ form.old_password.errors }}
        {{ form.old_password.label_tag }}
        {{ form.old_password }}
    </div>
    <div class="form-group">
        {{ form.new_password1.errors }}
        {{ form.new_password1.label_tag }}
        {{ form.new_password1 }}
        {% if form.new_password1.help_text %}
            <p class="help">{{ form.new_password1.help_text }}</p>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.new_password2.errors }}
        {{ form.new_password2.label_tag }} {{ form.new_password2 }}
        {% if form.new_password2.help_text %}
            <p class="help">{{ form.new_password2.help_text }}</p>
        {% endif %}
    </div>
    <button class="btn btn-primary" type="submit">修改密码</button>
</form>
{% endblock %}

{% block script %}
<script>
$(document).ready(function(){
    $("#id_old_password").addClass("form-control");
    $("#id_old_password").attr({
        "placeholder": "旧密码",
        "required": "required",
        "autofocus": "autofocus"
    });
    $("#id_new_password1").addClass("form-control");
    $("#id_new_password1").attr({
        "placeholder": "新密码",
        "required": "required"
    });
    $("#id_new_password2").addClass("form-control");
    $("#id_new_password2").attr({
        "placeholder": "新密码确认",
        "required": "required"
    });
});
</script>
{% endblock %}
