{% extends 'panel/base.html' %}

{% block content %}
<p class="text-primary">合计: {{ gold_sum }}元</p>

<div class="list-group">
    {% for gold in gold_list %}
    <a class="list-group-item list-group-item-info" href="#gold-{{ method }}-{{ gold.id }}">
        <h4>{{ gold.date }}</h4>
        <p>
            {% if method == "in" %}{{ gold.user }}
            {% elif method == "out" %}{{ gold.log }}
            {% else %}未定义{% endif %}
            {{ gold.num }} 元.
        </p>
        <p>{{ gold.memo }}</p>
    </a>
    {% endfor %}
</div>
{% endblock %}

{% block script %}
<script>
$(document).ready(function(){
    $("#nav-gold").addClass("active");
    $("#nav-gold-{{ method }}").addClass("active");
});
</script>
{% endblock %}
