{% extends 'panel/base.html' %}

{% block content %}
<div class="list-group">
    <a class="list-group-item list-group-item-success" href="#gold-sum">
        <h4>合计</h4>
        <p>{{ gold_sum }}元</p>
    </a>
    <a class="list-group-item list-group-item-info" href="in">
        <h4>收入</h4>
        <p>{{ gold_in }}元</p>
    </a>
    <a class="list-group-item list-group-item-info" href="out">
        <h4>支出</h4>
        <p>{{ gold_out }}元</p>
    </a>
</div>
{% endblock %}

{% block script %}
<script>
$(document).ready(function(){
    $("#nav-gold").addClass("active");
    $("#nav-gold-sum").addClass("active");
});
</script>
{% endblock %}
