<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">导航开关</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">控制面板</span>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'panel:index' %}">首页</a></li>
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                        <li><a href="{% url 'panel:users' %}">用户</a></li>
                        <li><a href="{% url 'panel:status' %}">系统</a></li>
                        <li><a href="{% url 'panel:gold' %}">资金</a></li>
                        <li><a href="{% url 'admin:index' %}">后台</a></li>
                    {% endif %}
                    <li><a href="{% url 'auth:password_change' %}">修改密码</a></li>
                    <li><a href="{% url 'panel:logout' %}">退出</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
