{% extends 'panel/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content_title %}{{ title }}{% endblock %}

{% block header %}{% include 'panel/snippet_logined_header.html'%}{% endblock %}

{% block content %}
<div id="panel">
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>ID</th>
            <th>用户</th>
            <th>状态</th>
            <th>端口</th>
            <th>密码</th>
            <th>端口状态</th>
            <th>当前流量</th>
            <th>建立日期</th>
            <th>结束日期</th>
            <th>备注</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.user.username }}</td>
            <td>{{ user.status }}</td>
            <td>{{ user.port }}</td>
            <td>{{ user.password }}</td>
            <td>{{ user.online }}</td>
            <td>{{ user.flow }}</td>
            <td>{{ user.setup_date }}</td>
            <td>{{ user.end_date }}</td>
            <td>{{ user.memo }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
